:root {
  /* main fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* text colors */
  --main-txt-clr: #757575;
  --secondary-txt-clr: #212121;
  --accent-clr: #2196f3;
  /* background colors */
  --main-bg-clr: #e5e5e5;
  --secondary-bg-clr: #f5f4fa;
  --footer-bg-clr: #2f303a;
  --nav-bg-clr: #ffffff;
  --btn-bg: #f5f4fa;
  /* animation */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  min-height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-txt-clr);
}

@media screen and (max-width: 767.98px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  display: flex;
}

@media screen and (max-width: 767px) {
  .header {
    justify-content: space-between;
    align-items: center;
  }
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: transparent;
  outline: transparent;
  z-index: 99;
}

.menu-btn .icon-open {
  opacity: 1;
}

.menu-btn .icon-close {
  opacity: 0;
}

.menu-btn.is-active .icon-open {
  opacity: 0;
}

.menu-btn.is-active .icon-close {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn__icon {
  fill: #212121;
}

.menu-btn__icon:hover,
.menu-btn__icon:focus {
  fill: var(--accent-clr);
}

.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  visibility: hidden;
  background-color: #FFFFFF;
  z-index: 10;
}

@media screen and (min-widh: 450px) and (max-width: 767px) {
  .mobile-overlay {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

.mobile-overlay.is-open {
  visibility: visible;
  pointer-events: initial;
}

.mobile-menu {
  width: 100%;
  height: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.mobile-nav {
  margin-bottom: 302px;
}

.mobile-nav-list {
  margin-bottom: 32px;
}

.mobile-nav-list:last-child {
  margin-bottom: 0;
}

.mobile-nav-link {
  font-family: var(--main-font);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-nav-link:hover {
  color: #2196F3;
}

.mobile-nav-link:last-child {
  margin-bottom: 306px;
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts-tel {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  color: var(--accent-clr);
}

.mobile-contacts-email {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 1.17;
  color: #757575;
}

.mobile-socials-list {
  display: flex;
  margin-right: 0;
}

.mobile-socials-item {
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-socials-item:last-child {
  border-right: none;
}

.mobile-socials-link {
  color: #2196F3;
}

.nav {
  background-color: var(--nav-bg-clr);
}

.nav__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .nav__logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .nav__logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.nav__link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--secondary-txt-clr);
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .nav__link {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .nav__link {
    margin-right: 93px;
    margin-left: 215px;
  }
}

.nav__span {
  color: var(--accent-clr);
}

@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    align-items: center;
  }
}

.nav__item {
  margin-right: 50px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__links {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-txt-clr);
  transition: color var(--animation);
}

.nav__links:hover, .nav__links:focus {
  color: var(--accent-clr);
  fill: var(--accent-clr);
}

.nav__item.active a {
  color: var(--accent-clr);
}

.current {
  color: var(--accent-clr);
}

.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-clr);
}

.header {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-list {
    display: flex;
    margin-left: auto;
    align-items: flex-start;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .header-list {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

.header-item {
  display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1999px) {
  .header-item {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-item {
    margin-right: 30px;
  }
}

.header-item:last-child {
  margin-right: 0;
}

.header-contacts {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
  color: var(--main-txt-clr);
  transition: color var(--animation);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header-contacts {
    margin-bottom: 10px;
  }
}

.header-contacts:last-child {
  margin-bottom: 0;
}

.header-socials-icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill var(--animation);
}

.header-contacts:hover, .header-contacts:focus {
  color: var(--accent-clr);
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 200px 0;
  background-color: #2f303a;
}

.hero-overlay {
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/mobile_hero.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/2x_mobile.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/tablet_hero.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/2x_tablet.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/Overlay.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/2x_overlay.jpg);
  }
}

.hero-title {
  margin-bottom: 30px;
  font-family: inherit;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--nav-bg-clr);
}

@media screen and (max-width: 480px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  padding: 10px 32px;
  border: none;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  color: var(--nav-bg-clr);
  background-color: var(--accent-clr);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  text-align: left;
  transition: var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: var(--animation);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background: var(--nav-bg-clr);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-text {
  margin-bottom: 12px;
  text-align: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  color: var(--secondary-txt-clr);
}

.modal-span {
  margin-bottom: 4px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.16;
  color: #757575;
}

.modal-icon {
  position: absolute;
  top: 30px;
  left: 14px;
  fill: #212121;
  transition: fill var(--animation);
}

.modal-textarea {
  height: 120px;
  resize: none;
  transition: border-color var(--animation);
}

@media screen and (min-width: 480px) {
  .modal-textarea {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-textarea {
    width: 448px;
  }
}

.modal-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
}

.modal-agree {
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 480px) {
  .modal-agree {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .modal-agree {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-link {
  color: var(--accent-clr);
}

@media screen and (min-width: 480px) {
  .modal-link {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .modal-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-textarea::placeholder {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}

.modal-submit {
  padding: 10px 55px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--nav-bg-clr);
  background-color: var(--accent-clr);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-submit-button {
  display: flex;
  justify-content: center;
}

.modal-input:focus ~ .modal-icon {
  fill: var(--accent-clr);
}

.modal-form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  transition: color var(--animation);
}

.modal-form-field input {
  padding: 14px 15px 14px 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color var(--animation);
}

@media screen and (min-width: 480px) {
  .modal-form-field input {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form-field input {
    width: 448px;
  }
}

.modal-form-field:hover ~ .modal-span,
.modal-form-field:focus ~ .modal-span,
.modal-form-field:focus ~ .modal-textarea {
  border-color: var(--accent-clr);
  color: var(--accent-clr);
}

.modal-form-field label {
  margin-bottom: 4px;
  margin: 0;
}

.last {
  margin-bottom: 0;
}

.last textarea {
  padding: 12px 16px;
  margin-bottom: 20px;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.checkbox {
  --webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.check-icon {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border-radius: 3px;
  border: 2px solid black;
}

.checkbox:checked + .check-icon {
  padding: 3px;
  background-color: var(--accent-clr);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-clr);
  background-image: url(../images/icons/check.svg);
}

input [type="checkbox"] {
  box-sizing: border-box;
  width: 16px;
  height: 15px;
  border: 2px;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-weight: 700;
  color: 000;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: border-color var(--animation);
  transition: color var(--animation);
}

.close:hover {
  color: var(--accent-clr);
  border-color: var(--accent-clr);
}

.icon-antenna::before {
  background-image: url(../images/icons/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/icons/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/icons/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/icons/astronaut.svg);
}

@media screen and (min-width: 480px) {
  .features-item {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .features-item {
    width: 354px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    width: 270px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-item:nth-child(1), .features-item:nth-child(3) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-item:nth-child(3), .features-item:nth-child(4) {
    margin-bottom: 60px;
  }
}

.features-item::before {
  display: block;
  content: '';
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-size: 65px, 70px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .features-item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
    justify-content: space-between;
  }
}

.features-title {
  margin-bottom: 10px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--secondary-txt-clr);
}

@media screen and (max-width: 767px) {
  .features-title {
    text-align: center;
  }
}

.features-text {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-txt-clr);
}

@media screen and (max-width: 767px) {
  .features-text {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .features-text:last-child {
    margin-bottom: 60px;
  }
}

.about {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about-list {
  display: flex;
  justify-content: space-between;
}

.about-title {
  margin-bottom: 50px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  text-align: center;
  color: var(--secondary-txt-clr);
}

.about-item {
  position: relative;
  width: 370px;
  z-index: -1;
}

.about-description {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  color: var(--nav-bg-clr);
  background-color: rgba(47, 48, 58, 0.8);
}

.about-description p {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials-item {
  margin-right: 8px;
  border-radius: 50%;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color var(--animation);
}

.socials-link:hover, .socials-link:focus {
  fill: var(--nav-bg-clr);
  background-color: var(--accent-clr);
}

.socials-icon {
  transition: fill var(--animation);
}

.team {
  background-color: var(--secondary-bg-clr);
}

@media screen and (min-width: 480px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-title {
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  color: var(--secondary-txt-clr);
}

@media screen and (min-width: 480px) {
  .team-title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 1200px) {
  .team-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.12;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    flex-wrap: nowrap;
  }
}

.team-list:last-child {
  margin-right: 0;
}

.team-item {
  background-color: var(--nav-bg-clr);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767.98px) {
  .team-item {
    list-style-type: none;
    max-width: 450px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team-item {
    list-style-type: none;
    max-width: 354px;
  }
  .team-item:nth-child(1), .team-item:nth-child(2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    max-width: 270px;
    margin-right: 30px;
  }
  .team-item:last-child {
    margin-right: 0;
  }
}

.team-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member {
  margin-bottom: 10px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-txt-clr);
}

.team-text {
  margin-bottom: 16px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--main-txt-clr);
}

.clients-title {
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  line-height: 1.17;
  color: var(--secondary-txt-clr);
}

@media screen and (min-width: 480px) {
  .clients-title {
    margin-bottom: 30px;
    font-size: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.clients-list {
  display: flex;
}

@media screen and (min-width: 480px) {
  .clients-list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .clients-list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.clients-item {
  height: 92px;
}

@media screen and (max-width: 767.98px) {
  .clients-item {
    width: 210px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients-item {
    width: 226px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    width: 170px;
    margin-right: 30px;
  }
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill var(--animation);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-clr);
  border: 1px solid var(--accent-clr);
}

.portfolio {
  border-bottom: 1px solid #ececec;
  width: 100%;
}

.btn-list {
  display: flex;
}

@media screen and (min-width: 480px) {
  .btn-list {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .btn-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .btn-list {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 480px) {
  .btn-item {
    margin-right: 8px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .btn-item {
    margin-right: 10px;
  }
}

.btn-item:last-child {
  margin-right: 0;
}

.radio-btn {
  padding: 6px 22px;
  border: none;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-clr);
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
}

.radio-btn:hover, .radio-btn:focus {
  color: #ffffff;
  background-color: var(--accent-clr);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.last-btn:last-child {
  margin-right: 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .cards {
    justify-content: space-between;
  }
}

.cards-item {
  margin-bottom: 30px;
}

@media screen and (max-width: 767.98px) {
  .cards-item {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .cards-item {
    width: 354px;
    height: 440px;
  }
}

@media screen and (min-width: 1200px) {
  .cards-item {
    width: 370px;
    height: 404px;
    margin-right: 30px;
  }
}

.cards-link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--animation);
}

.cards-link:hover, .cards-link:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-thumb {
  position: relative;
  overflow: hidden;
}

.cards-thumb::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: var(--animation);
}

.cards-link:hover .cards-thumb::before,
.cards-link:focus .cards-thumb::before {
  transform: translateY(0);
  opacity: 1;
}

.cards-pop-up {
  position: absolute;
  top: 63px;
  left: 24px;
  opacity: 0;
  transform: translateY(100%);
  transition: var(--animation);
}

.cards-pop-up-text {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: white;
}

.cards-link:hover .cards-pop-up,
.cards-link:focus .cards-pop-up {
  opacity: 1;
  transform: translateY(0);
}

.cards-indent {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.cards-title {
  margin-bottom: 4px;
  font-family: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-txt-clr);
}

.cards-post {
  font-family: inherit;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-txt-clr);
}

@media screen and (min-width: 1200px) {
  .third {
    margin-right: 0;
  }
}

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-clr);
}

@media screen and (max-width: 767.98px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-mt {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: inline-flex;
  }
}

.footer-link {
  display: block;
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--nav-bg-clr);
}

.footer-span {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-clr);
}

.footer-item {
  margin-bottom: 9px;
}

.footer-adr {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--nav-bg-clr);
  transition: color var(--animation);
}

.footer-contacts {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation);
}

@media screen and (max-width: 767.98px) {
  .footer-wrapper {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    flex-grow: 1;
  }
}

@media screen and (min-width: 1200px) {
  .footer-cta {
    margin-left: 70px;
  }
}

.footer-cta-title {
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--nav-bg-clr);
}

@media screen and (min-width: 480px) {
  .footer-socials {
    margin-bottom: 60px;
  }
}

.footer-socials-item {
  margin-right: 10px;
}

.footer-socials-item:last-child {
  margin-right: 0;
}

.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--nav-bg-clr);
  transition: background-color var(--animation);
}

.footer-socials-link:hover, .footer-socials-link:focus {
  fill: var(--nav-bg-clr);
  background-color: var(--accent-clr);
}

@media screen and (min-width: 1200px) {
  .footer-subscribe {
    margin-left: 93px;
  }
}

.footer-label {
  display: inline-block;
  margin-right: 12px;
}

.footer-input {
  margin-right: 8px;
  padding: 15px 16px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 480px) {
  .footer-input {
    margin-right: auto;
    margin-left: auto;
    width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
  }
}

.footer-button {
  padding-left: 29px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-clr);
  border-color: var(--accent-clr);
  background-image: url(../images/icons/send.svg);
  background-repeat: no-repeat;
  background-position-x: 148px;
  background-position-y: 13px;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  text-align: left;
  border: none;
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .footer-button {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.footer-contacts:hover, .footer-contacts:focus, .footer-adr:hover, .footer-adr:focus {
  color: var(--accent-clr);
  fill: var(--accent-clr);
}

@media screen and (min-width: 1200px) {
  .form {
    display: inline-flex;
  }
}
/*# sourceMappingURL=main.css.map */