@import "./reset";
body {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: var(--main-txt-clr);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}