@import "./reset";
body {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: var(--main-txt-clr);
}

.no-scroll{
    overflow: hidden;
}

.section {
    @include mq(mobile-only){
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include mq(tablet) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
