.clients-title {
    margin-bottom: 50px;

    font-family: inherit;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.17;
    color: var(--secondary-txt-clr);
}

.clients-list {
    display: flex;
}

.clients-item {
    margin-right: 30px;
    width: 170px;
    height: 92px;
}

.clients-item:last-child {
    margin-right: 0;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;

    transition: fill var(--animation);
}

.clients-link:hover,
.clients-link:focus {
    fill: var(--accent-clr);
    border: 1px solid var(--accent-clr);
}