.icon-antenna::before {
    background-image: url(../images/icons/antenna.svg);
}

.icon-clock::before {
    background-image: url(../images/icons/clock.svg);
}

.icon-diagram::before {
    background-image: url(../images/icons/diagram.svg);
}

.icon-astronaut::before {
    background-image: url(../images/icons/astronaut.svg);
}