.hero {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 200px 0;
    background-color: #2f303a;


    &-overlay {
    background-size: cover;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/Hero/mobile_hero.jpg);
    @include mq(retina){
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/Hero/2x_mobile.jpg); 
    }

    @include mq(tablet) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../images/Hero/tablet_hero.jpg);

        @include mq(retina){
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/2x_tablet.jpg);
        }
    }

    @include mq(desktop){
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero/Overlay.jpg);

        @include mq(retina){
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../images/Hero/2x_overlay.jpg);
        }
    }
    }

    &-title {
    margin-bottom: 30px;

    font-family: inherit;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--nav-bg-clr);

    @include mq(mobile){
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 0.06em
    }

    @include mq(desktop){
        font-size: 44px;
        line-height: 1.36;
    }
}

    &-button {
    padding: 10px 32px;
    border: none;

    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    color: var(--nav-bg-clr);
    background-color: var(--accent-clr);
}
}