.nav {
    background-color: var(--nav-bg-clr);


    &__logo{
        padding-top: 16px;
        padding-bottom: 16px;
        

        @media screen and (min-width:768px){
        padding-top: 26px;
        padding-bottom: 26px;
        }

        @media screen and (min-width:1200px) {
            padding-top: 24px;
            padding-bottom: 25px;
        }

    }


    &__link {
    
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: var(--secondary-txt-clr);

    justify-content: space-between;

    @media screen and (min-width:768px) {
        margin-right: 88px;
    }

    @media screen and (min-width:1200px){
        margin-right: 93px;
        margin-left: 215px;
    }
}

    &__span {
    color: var(--accent-clr);
}

    &__list {
        @media screen and (max-width:767px) {
            display: none;
        }
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
    
}

    &__item {
    margin-right: 50px;
}

    &__item:last-child {
    margin-right: 0;
}

    &__links {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--secondary-txt-clr);

    transition: color var(--animation);
}

    &__links:hover,
    &__links:focus {
    color: var(--accent-clr);
    fill: var(--accent-clr);
}

    &__item.active a {
    color: var(--accent-clr);
}

}

.current {
    color: var(--accent-clr);


    &::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-clr);
}

}